{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Добовление товаров</h1>
    <form method="post">
       <input type="text" class="form-control" name="title" id="title" placeholder="Название товара">   <Br>
       <input type="number" class="form-control" name="price" id="price" placeholder="Цена за товар"><br>
       <input type="text" class="form-control" name="text" id="text" placeholder="Краткое описание"><br>
       <button class="btn btn-success" type="submit">Добавить товар</button>
       <br>
    </form>
</div>

{% endblock %}
